<div class="blitz <%= if @flash.show do %>blitz--show<% end %>">
  <div class="blitz__inner flex bg-color--<%= @flash.mode %>" role="dialog">
    <span class="blitz__message"><%= @flash[:message] %></span>

    <button phx-click="blitz_close" class="btn--link margin-l--m" name="close" title="Close" type="button">
      <%= render(ObanWeb.IconView, "x.html") %>
    </button>
  </div>
</div>

