<div class="menu menu--contained">
  <header class="menu-title">Nodes</header>
  <hr class="flat" />
  <ul class="menu-list">
    <%= for {node, count} <- @node_counts do %>
      <li class="menu-item flex">
        <button class="menu-btn"><%= node %></button>
        <span class="menu-cnt">(<%= integer_to_delimited(count) %>)</span>
      </li>
    <% end %>
  </ul>
</div>
