.blitz {
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  padding: $space--m;
  pointer-events: none;
  position: fixed;
  top: -4em;
  transition-duration: $timing--fade;
  transition-property: opacity, top, visibility;
  visibility: hidden;
  width: 100%;
  z-index: 15;
}

.blitz--show {
  opacity: 1;
  top: 0;
  visibility: visible;
  transition-property: opacity, top;
}

.blitz__inner {
  border-radius: $radius--med;
  box-shadow: $shadow;
  color: $color--invert;
  max-width: 48em;
  padding: $space--m;
  pointer-events: all;
}
