.color--main { color: $color--main; }
.color--invert { color: $color--invert; }
.color--main-light { color: $color--main-light; }
.color--dem { color: $color--dem; }
.color--disabled { color: $color--disabled; }
.color--faint { color: $color--faint; }
.color--min { color: $color--min; }

.bg-color--alert { background-color: $color--alert; }
.bg-color--success { background-color: $color--success; }
