.flex {
  display: flex;
  flex-flow: row wrap;

  &.justify--between {
    justify-content: space-between;
  }
}

.flex--0 {
  flex: 0;
}

.flex--1 {
  flex: 1;
}

.flex--2 {
  flex: 2;
}

.flex--3 {
  flex: 3;
}

.flex-shrink--0 {
  flex-shrink: 0;
}

.flex-shrink--1 {
  flex-shrink: 1;
}

.flex-shrink--2 {
  flex-shrink: 2;
}

.flex-shrink--3 {
  flex-shrink: 3;
}

.flex-grow--0 {
  flex-grow: 0;
}

.flex-grow--1 {
  flex-grow: 1;
}

.flex-grow--2 {
  flex-grow: 2;
}

.flex-grow--3 {
  flex-grow: 3;
}
