.search-wrapper {
  font-size: $font-size--base;
  position: relative;
  width: 20%;
}

.search-wrapper .icon {
  fill: $color--field-text;
  height: 16px;
  left: $space--xs * 2;
  position: absolute;
  top: $space--xs * 2;
  width: 16px;
}

input[type="search"] {
  appearance: textfield;
  background-color: $color--field-bg;
  border-radius: $radius--med;
  border-radius: $radius--tiny;
  border: 1px solid $color--field-b;
  color: $color--field-text-filled;
  font-size: $font-size--base;
  line-height: $line-height--copy;
  padding: $space--xs $space--s $space--xs $space--base;
  transition: border $timing--hover, color $timing--hover;

  &:disabled,
  .disabled {
    opacity: .3;
    pointer-events: none;
  }

  &:focus,
  &.focus {
    background-color: $color--field-bg-focus;
    border: 1px solid $color--field-b-focus;

    &::placeholder {
      color: $color--field-text-focus;
      transition: color $timing--hover;
      -webkit-font-smoothing: antialiased;
    }
  }

  &::placeholder {
    color: $color--field-text;
    -webkit-font-smoothing: antialiased;
  }
}

input[type="search"]::-webkit-search-decoration {
  appearance: none;
}
