.jobs-table {
  border-collapse: collapse;
  border-color: $color--faint;
  border-spacing: $space--s;
  width: 100%;
}

.jobs-head {
  border-bottom: 1px solid $color--line;
}

.jobs-head--column {
  font-weight: $font-weight--normal;
  padding: 0.5rem;
  text-align: left;
}

.jobs-row {
  border-bottom: 1px solid $color--faint;
  transition: background $timing--hover;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: rgba($color--main, .03);
  }
}

.jobs-title {
  font-weight: $font-weight--normal;
  padding: $space--s;
}

.jobs-column {
  padding: 1.25rem 0.5rem;
}

.jobs-column--queue {
  width: 6em;
  text-align: center;
}

.jobs-column--id {
  width: 5em;
}

.jobs-column--details {
  max-width: 30em;
}

.jobs-column--attempts {
  width: 4em;
}

.jobs-column--duration {
  width: 8em;
}

.jobs-column--action {
  text-align: center;
  width: 2em;
}

.job-details--worker {
  display: block;
  font-size: $font-size--l;
  margin-bottom: $space--xs;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.job-details--args {
  color: $color--main-light;
  display: block;
  font-family: $font-ms;
  font-size: $font-size--s;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
