.jobs-table {
  border-collapse: collapse;
  border-color: $color--faint;
  border-spacing: $space--s;
  width: 100%;
}

.jobs-head {
  border-bottom: 1px solid $color--line;
}

.jobs-head--column {
  font-weight: $font-weight--normal;
  padding: 0.5rem;
  text-align: left;
}

.jobs-row {
  border-bottom: 1px solid $color--faint;
  transition: background $timing--hover;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: rgba($color--main, .03);
  }
}

.jobs-title {
  font-weight: $font-weight--normal;
  padding: $space--s;
}

.jobs-column {
  padding: 1.25rem 0.5rem;
}

.jobs-column--queue {
  width: 6em;
  text-align: center;
}

.jobs-column--details {
  max-width: 30em;
}

.jobs-column--attempts {
  width: 4em;
}

.jobs-column--duration {
  width: 9em;
}

.jobs-column--action {
  text-align: center;
  width: 2em;
}

.job-details--worker {
  display: block;
  font-size: $font-size--l;
  margin-bottom: $space--xs;
}

.job-details--args {
  color: $color--main-light;
  display: block;
  font-family: $font-ms;
  font-size: $font-size--s;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.queue-tag {
  border: 1px solid $color--faint;
  border-radius: $radius--med;
  padding: 0.5rem;
}

.queue-tag--0 { border-color: $color--queue-00; }
.queue-tag--1 { border-color: $color--queue-01; }
.queue-tag--2 { border-color: $color--queue-02; }
.queue-tag--3 { border-color: $color--queue-03; }
.queue-tag--4 { border-color: $color--queue-04; }
.queue-tag--5 { border-color: $color--queue-05; }
.queue-tag--6 { border-color: $color--queue-06; }
.queue-tag--7 { border-color: $color--queue-07; }
.queue-tag--8 { border-color: $color--queue-08; }
.queue-tag--9 { border-color: $color--queue-09; }
.queue-tag--10 { border-color: $color--queue-10; }
.queue-tag--11 { border-color: $color--queue-11; }
