.menu {
  ul,
  li {
    margin-bottom: 0;
  }

  &--contained {
    background-color: $color--invert;
    border-radius: $radius--med;
    box-shadow: $shadow--s;
    padding: $space--xs 0;
  }
}

.menu-list {
  list-style: none;
  padding: 0;
}

.menu-title {
  margin: 0;
  padding: 0.75em 1em;
}

.menu-subtitle {
  display: inline-block;
  min-width: 3.5rem;
  text-align: right;
}

.menu-divider {
  border-top: 1px solid $color--line-s;
  margin: $space--xs 0;
  padding: 0;
}

.menu-item {
  color: inherit;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  padding: 0.75em 1em;
  position: relative;
  transition: background $timing--hover;

  &:hover {
    background-color: $color--hover-bg;
  }

  &--active:before {
    background-color: $color--oban;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0px;
    width: 2px;
  }

  &--selected {
    background-color: $color--hover-bg;
  }
}

.menu-btn {
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: $line-height--copy;
  position: relative;
  text-align: left;

  &:active {
    color: inherit;
  }

  &[disabled],
  &.disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &-tag {
    border-left-width: 3px;
    border-left-style: solid;
    padding-left: 0.5em;
  }
}

.menu-cnt {
  color: $color--main-light;
  display: inline-block;
  min-width: 3.5rem;
  text-align: right;
}
