@import 'variables';

// == BORDERS == //

@mixin border($border-width: 1px, $border-color: $color--line) {
  border: $border-width solid $border-color;
}

@mixin border-b($border-width: 1px, $border-color: $color--line) {
  border-bottom: $border-width solid $border-color;
}

@mixin border-l($border-width: 1px, $border-color: $color--line) {
  border-left: $border-width solid $border-color;
}

@mixin border-r($border-width: 1px, $border-color: $color--line) {
  border-right: $border-width solid $border-color;
}

@mixin border-t($border-width: 1px, $border-color: $color--line) {
  border-top: $border-width solid $border-color;
}

// == BORDER RADII == //

@mixin rounded($radius: $radius--med) {
  border-radius: $radius;
}

@mixin rounded-bottom($radius: $radius--med) {
  border-radius: 0 0 $radius $radius;
}

@mixin rounded-left($radius: $radius--med) {
  border-radius: $radius 0 0 $radius;
}

@mixin rounded-right($radius: $radius--med) {
  border-radius: 0 $radius $radius 0;
}

@mixin rounded-top($radius: $radius--med) {
  border-radius: $radius $radius 0 0;
}

// == BUTTONS == //

@mixin color--dscout {
  background-color: $color--dscout;

  &:hover {
    background-color: mix(black, $color--dscout, 10%);
  }

  &:active {
    background-color: mix(black, $color--dscout, 20%);
  }
}

@mixin color--invert {
  background-color: $color--invert;

  &:hover {
    background-color: rgba($color--invert, .8);
  }

  &:active {
    background-color: rgba($color--invert, .6);
  }
}

@mixin color--main {
  background-color: $color--main;

  &:hover {
    background-color: mix(black, $color--main, 10%);
  }

  &:active {
    background-color: mix(black, $color--main, 20%);
  }
}

@mixin day-color--none {
  background: none;
  color: rgba($color--main, .6);

  &:hover {
    background-color: rgba($color--main, .05);
    color: rgba($color--main, .8);
  }

  &:active {
    background-color: rgba($color--main, .08);
    color: rgba($color--main, 1);
  }
}

@mixin day--glass {
  background-color: rgba($color--main, .1);
  color: $color--main;

  &:hover {
    background-color: rgba($color--main, .2);
  }

  &:active {
    background-color: rgba($color--main, .25);
  }

  &[disabled] {
    opacity: .3;
  }
}

@mixin day--outline {
  background: none;
  box-shadow: inset 0 0 0 1px rgba($color--main, .2);
  color: $color--main;

  &:hover {
    background: none;
    box-shadow: inset 0 0 0 1px rgba($color--main, .5);
  }

  &:active {
    box-shadow: inset 0 0 0 1px rgba($color--main, .6);
  }

  &[disabled] {
    opacity: .3;
  }
}

@mixin day--shadow {
  box-shadow: 0 5px 8px 0px rgba($color--main, .25);

  &:hover {
    box-shadow: 0 15px 20px 0px rgba($color--main, .3);
  }

  &:active {
    box-shadow: 0 2px 3px 0px rgba($color--main, .25);
    transition-duration: $timing--click;
  }
}

@mixin night-color--none {
  background: none;
  color: rgba($color--invert, .6);

  &:hover {
    background-color: rgba($color--main, .05);
    color: rgba($color--invert, .8);
  }

  &:active {
    background-color: rgba($color--main, .08);
    color: rgba($color--invert, 1);
  }
}

@mixin night--glass {
  background-color: rgba($color--invert, .1);
  color: $color--invert;

  &:hover {
    background-color: rgba($color--invert, .2);
  }

  &:active {
    background-color: rgba($color--invert, .15);
  }
}

@mixin night--outline {
  background: none;
  box-shadow: inset 0 0 0 1px rgba($color--invert, .2);
  color: $color--invert;

  &:hover {
    background: none;
    box-shadow: inset 0 0 0 1px rgba($color--invert, .5);
  }

  &:active {
    box-shadow: inset 0 0 0 1px rgba($color--invert, .6);
  }
}

@mixin night--shadow {
  box-shadow: 0 5px 8px 0px rgba(black, .25);

  &:hover {
    background-color: rgba($color--invert, .8);
    box-shadow: 0 15px 20px 0px rgba(black, .3);
  }

  &:active {
    background-color: rgba($color--invert, .6);
    box-shadow: 0 2px 3px 0px rgba(black, .25);
  }
}

@mixin size--small {
  font-size: $font-size--s;
  padding: $space--xs $space--m;
}

@mixin size--tiny {
  font-size: $font-size--xs;
  padding: $space--xs $space--m;
}

// == COLLAPSIBLE == //

@mixin collapsible($max-height: 100em) {
  max-height: $max-height;
  opacity: 1;
  overflow: hidden;
  transition-duration: $timing--fade;
  transition-property: max-height, opacity;
}

@mixin collapsible-collapsed {
  max-height: 0;
  opacity: 0;
}

// == COLORS == //

@mixin link-part-color($partNumber) {
  background-color: nth($part-colors, $partNumber + 1);
}

// == COLUMNS == //

@mixin column-gap($gap: $space--base) {
  column-gap: $gap;
}

// == CONTAINER == //

@mixin container($max: auto) {
  background-color: $color--invert;
  border-radius: $radius--med;
  box-shadow: $shadow--s;
  max-width: $max;
  padding: $space--base 0;
}

@mixin container-hidden {
  opacity: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
}

// == DISPLAY == //

@mixin display--f($justify: flex-start) {
  align-items: center;
  display: flex;
  justify-content: $justify;
}

// === FONT SIZES === //

@mixin big {
  font-size: $font-size--l;
}

@mixin small {
  font-size: $font-size--s;
}

// == FORMS == //

@mixin mini {
  padding: $space--xs $space--s;
}

// == GRID == //

@mixin gutter($gutter-size: $space--m) {
  .row {
    @media (min-width: 30em) {
      margin-left: -$gutter-size;
      margin-right: -$gutter-size;
    }

    [class^="column"] {
      @media (min-width: 30em) {
        padding-left: $gutter-size;
        padding-right: $gutter-size;
      }
    }
  }
}

// == HIDE == //

@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// == ICONS == //

@mixin icon {
  height: 1.563em;
  width: 1.563em;
}

@mixin icon--1-5 {
  height: 2.375em;
  width: 2.375em;
}


@mixin icon--2 {
  height: 3.125em;
  width: 3.125em;
}

@mixin icon--3 {
  height: 4.688em;
  width: 4.688em;
}

@mixin icon--4 {
  height: 6.250em;
  width: 6.250em;
}

@mixin icon--form {
  height: 1.250em;
  width: 1.250em;
}

@mixin vert {
  vertical-align: middle;
}

// == LINKS == //

@mixin a-border--none {
  border-bottom-color: transparent;

  &:hover {
    border-bottom-color: transparent;
  }
}

@mixin a--color ($color: $color--dscout) {
  border-bottom-color: rgba($color, .3);
  color: $color;

  &:hover {
    border-bottom-color: rgba(mix(black, $color, 20%), .6);
    color: mix(black, $color, 20%);
  }
}

@mixin a--no-style {
  border-bottom: none;

  &:hover {
    border-bottom: none;
  }
}

// == MAX WIDTH == //

@mixin max-width($max-width: 60em) {
  margin: auto;
  max-width: $max-width;
}

// == MEDIA QUERIES == //

@mixin break($point) {
  @if $point == not-small {
    @media screen and (min-width: 48em) {
      @content;
    }
  }
  @else if $point == medium {
    @media screen and (min-width: 48em) and (max-width: 64em) {
      @content;
    }
  }
  @else if $point == large {
    @media screen and (min-width: 64em)  {
      @content;
    }
  }
}

// == VERTICAL ALIGN == //

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}
