.pill {
  background-color: $color--invert;
  border: 1px solid $color--disabled;
  color: $color--main-light;
  display: inline-block;
  font-size: $font-size--base;
  padding: grid-units(0.5) grid-units(2);
  position: relative;

  &:first-child {
    border-bottom-left-radius: $radius--small;
    border-top-left-radius: $radius--small;
  }

  &:last-child {
    border-bottom-right-radius: $radius--small;
    border-top-right-radius: $radius--small;
  }

  button {
    &:first-child {
      left: 0;
      position: absolute;
      top: 0;
      bottom: 0;
    }

    + * {
      margin-left: $space--s * 2;
    }
  }
}
