@import 'variables';

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: none
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// margin

div,
article,
section,
main,
footer,
header,
form,
fieldset,
pre,
code,
p,
ul,
ol,
li,
dl,
dt,
dd,
textarea,
input,
label,
select {
  margin: 0 0 $space--s;
}

*:first-child {
  margin-top: 0;
}

*:last-child {
  margin-bottom: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}
