.padding--none { padding: $space--none; }
.padding--xs { padding: $space--xs; }
.padding--s { padding: $space--s; }
.padding--m { padding: $space--m; }
.padding--base { padding: $space--base; }
.padding--l { padding: $space--l; }
.padding--xl { padding: $space--xl; }

.width--none { width: $space--none; }
.width--xs { width: $space--xs; }
.width--s { width: $space--s; }
.width--m { width: $space--m; }
.width--base { width: $space--base; }
.width--l { width: $space--l; }
.width--xl { width: $space--xl; }

.width--10-pct { width: 10%; }
.width--20-pct { width: 20%; }
.width--30-pct { width: 30%; }
.width--40-pct { width: 40%; }
.width--50-pct { width: 50%; }
.width--60-pct { width: 60%; }
.width--70-pct { width: 70%; }
.width--80-pct { width: 80%; }
.width--90-pct { width: 90%; }
.width--100-pct { width: 100%; }
