.padding--none { padding: $space--none; }
.padding--xs { padding: $space--xs; }
.padding--s { padding: $space--s; }
.padding--m { padding: $space--m; }
.padding--base { padding: $space--base; }
.padding--l { padding: $space--l; }
.padding--xl { padding: $space--xl; }

.width--none { width: $space--none; }
.width--xs { width: $space--xs; }
.width--s { width: $space--s; }
.width--m { width: $space--m; }
.width--base { width: $space--base; }
.width--l { width: $space--l; }
.width--xl { width: $space--xl; }

.width--1 { width: $space--base; }
.width--2 { width: $space--2; }
.width--3 { width: $space--3; }
.width--4 { width: $space--4; }
.width--5 { width: $space--5; }
.width--6 { width: $space--6; }
.width--7 { width: $space--7; }
.width--8 { width: $space--8; }
.width--9 { width: $space--9; }
.width--10 { width: $space--10; }
.width--11 { width: $space--11; }
.width--12 { width: $space--12; }
.width--13 { width: $space--13; }
.width--14 { width: $space--14; }
.width--15 { width: $space--15; }
.width--16 { width: $space--16; }

.width--10-pct { width: 10%; }
.width--20-pct { width: 20%; }
.width--30-pct { width: 30%; }
.width--40-pct { width: 40%; }
.width--50-pct { width: 50%; }
.width--60-pct { width: 60%; }
.width--70-pct { width: 70%; }
.width--80-pct { width: 80%; }
.width--90-pct { width: 90%; }
.width--100-pct { width: 100%; }
