h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: $font-size--base;
  font-weight: normal;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.font-size--xxxl { font-size: 2.074em; }
.font-size--xxl { font-size: 1.728em; }
.font-size--xl { font-size: 1.44em; }
.font-size--l { font-size: 1.2em; }
.font-size--base { font-size: $font-size--base; }
.font-size--s { font-size: .875em; }
.font-size--xs { font-size: .750em; }
.font-size--xxs { font-size: .563em; }

.font-size--headline { font-size: 6em; }
.font-size--subheadline { font-size: 5em; }

.font-weight--normal { font-weight: normal; }
.font-weight--b { font-weight: bold; }
.font-weight--1 { font-weight: 100; }
.font-weight--2 { font-weight: 200; }
.font-weight--3 { font-weight: 300; }
.font-weight--4 { font-weight: 400; }
.font-weight--5 { font-weight: 500; }
.font-weight--6 { font-weight: 600; }
.font-weight--7 { font-weight: 700; }
.font-weight--8 { font-weight: 800; }
.font-weight--9 { font-weight: 900; }
