// grid

$grid-unit: .25em;  // Grid size

@function grid-units($n, $unit: $grid-unit) {
  @return $n * $unit;
}

$space--none: 0;
$space--1px: 1px;
$space--xs: $grid-unit;
$space--s: grid-units(3); // space below paragraphs and block elements
$space--m: grid-units(4); // small space
$space--base: grid-units(8); // standard space
$space--l: grid-units(12); // large space
$space--xl: grid-units(16); // extra large space

// fonts

$font-stack: -apple-system, BlinkMacSystemFont,
             'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
             'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$font-ms: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', 'Courier', monospace;

// line-heights

$line-height--copy: 1.5;
$line-height--solid: 1;
$line-height--title: 1.25;
$line-height--loose: 2;

// radii

$radius--none: 0;
$radius--tiny: .125rem;
$radius--small: .188em;
$radius--med: .313rem;
$radius--large: .625rem;
$radius--circle: 50%;
$radius--pill: 50rem;

// timings

$timing--click: .1s;
$timing--hover: .2s;
$timing--fade: .4s;
$timing--rotate: .6s;

// font-sizes

$font-size--xxxl: 2.074em;
$font-size--xxl: 1.728em;
$font-size--xl: 1.44em;
$font-size--l: 1.2em;
$font-size--base: 1em;
$font-size--s: .875em;
$font-size--xs: .750em;
$font-size--xxs: .563em;

// font-weights

$font-weight--normal: normal;
$font-weight--b: bold;
$font-weight--1: 100;
$font-weight--2: 200;
$font-weight--3: 300;
$font-weight--4: 400;
$font-weight--5: 500;
$font-weight--6: 600;
$font-weight--7: 700;
$font-weight--8: 800;
$font-weight--9: 900;

// colors

$color--main: #222;                          // text color
$color--invert: #fff;                        // white
$color--main-light: rgba($color--main, .6);  // sibling to text, lighter version
$color--dem: rgba($color--main, .3);         // de-emphasised elements
$color--disabled: rgba($color--main, .15);   // disabled elements
$color--faint: rgba($color--main, .05);      // use this to de-emphasise more
$color--min: rgba($color--main, .02);        // off-white. minimal visible bg

// if you need any of the colors above without being affected by the
// background, use these (or when using svg icons)

$color--dem-s: mix($color--invert, $color--main, 70%);
$color--faint-s: mix($color--invert, $color--main, 95%);

// special purpose

$color--hover-bg: rgba($color--main, .03); // bg color for hovers in lists
$color--hover-bg-s: mix($color--invert, $color--main, 97%);

// lines

$color--line: rgba($color--main, .1); // color for lines
$color--line-s: mix($color--invert, $color--main, 90%); // color for lines

// accents

$color--oban: #3da957; // special green
$color--success: #2ed491; // green
$color--alert: #ff2d55; // signal-red

// form fields

$color--field-text: rgba($color--main, .3); // placeholder text
$color--field-text-focus: rgba($color--main, .3); // placeholder text on focus
$color--field-text-filled: rgba($color--main, .8);
$color--field-text-invalid: rgba($color--alert, 1);

$color--field-bg: rgba($color--main,  .02);
$color--field-bg-focus: rgba($color--main,  .01);
$color--field-bg-filled: rgba($color--main,  .01);
$color--field-bg-invalid: rgba($color--alert, .02);

$color--field-b: rgba($color--main,   .1);
$color--field-b-radio: rgba($color--main,   .2);
$color--field-b-focus: rgba($color--oban, .5);
$color--field-b-filled: rgba($color--main,   .05);
$color--field-b-invalid: rgba($color--alert,  .3);

// box-shadows

$shadow--s: 0 .22rem .5rem rgba($color--main, 0.03);
$shadow--m: 0 .22rem .5rem rgba($color--main, 0.08);
$shadow--l: 0 $space--m $space--base rgba($color--main, 0.1);
$shadow--xl: 0 $space--m $space--base rgba($color--main, 0.2);
$shadow: $shadow--s;
