@font-face {
  font-display: swap;
  font-family: "Inter var";
  font-style: normal;
  font-weight: 100 900;
  font-named-instance: "Regular";
  src: url("../fonts/Inter.woff2") format("woff2");
}

.tabular {
  font-variant-numeric: slashed-zero tabular-nums;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
