@font-face {
  font-display: swap;
  font-family: "Inter var";
  font-style: normal;
  font-weight: 100 900;
  font-named-instance: "Regular";
  src: url("../fonts/Inter.woff2") format("woff2");
}

.tabular {
  font-variant-numeric: slashed-zero tabular-nums;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-spin {
  animation: 1s infinite spin;
  animation-timing-function: linear;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
