@font-face {
  font-display: swap;
  font-family: "Inter var";
  font-style: normal;
  font-weight: 100 900;
  font-named-instance: "Regular";
  src: url("fonts/inter.woff2") format("woff2");
}

.tabular {
  font-variant-numeric: slashed-zero tabular-nums;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-spin {
  animation: 1s infinite spin;
  animation-timing-function: linear;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* Tippy */

.tippy-box {
  @apply relative bg-gray-800 text-gray-200 dark:bg-gray-200 dark:text-gray-800 shadow text-sm rounded font-normal outline-none;

  transition-property: transform, visibility, opacity;
}

.tippy-box[data-placement^=top] > .tippy-svg-arrow{
  bottom:0;
}

.tippy-box[data-placement^=top] > .tippy-svg-arrow:after,
.tippy-box[data-placement^=top] > .tippy-svg-arrow > svg {
  top: 16px;
  transform: rotate(180deg);
}

.tippy-box[data-placement^=bottom] > .tippy-svg-arrow {
  top:0;
}

.tippy-box[data-placement^=bottom] > .tippy-svg-arrow > svg {
  bottom: 16px;
}

.tippy-box[data-placement^=left] > .tippy-svg-arrow{
  right: 0
}

.tippy-box[data-placement^=left] > .tippy-svg-arrow:after,
.tippy-box[data-placement^=left] > .tippy-svg-arrow > svg{
  transform: rotate(90deg);
  top: calc(50% - 3px);
  left: 11px;
}

.tippy-box[data-placement^=right] > .tippy-svg-arrow{
  left: 0;
}

.tippy-box[data-placement^=right] > .tippy-svg-arrow:after,
.tippy-box[data-placement^=right] > .tippy-svg-arrow > svg {
  transform: rotate(-90deg);
  top: calc(50% - 3px);
  right: 11px;
}

.tippy-svg-arrow{
  @apply w-4 h-4 fill-current text-gray-800 dark:text-gray-200;

  text-align: initial;
}

.tippy-svg-arrow, .tippy-svg-arrow > svg{
  position: absolute;
}

.tippy-content {
  @apply relative px-3 py-2 z-10;
}

/* Tailwind */

@import "tailwindcss";
@plugin "@tailwindcss/forms";

@custom-variant dark (&:where(.dark, .dark *));

@source "../../lib/**/*.*ex";

@theme {
  --font-family-sans: "Inter var", sans-serif;
  --font-family-mono: "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;

  --spacing-72: 18rem;
  --spacing-84: 21rem;
  --spacing-96: 24rem;
}
