<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>

    <title>Oban • Jobs</title>

    <style><%= raw(render("app.css")) %></style>
  </head>
  <body class="min-h-screen flex flex-col antialiased bg-gray-200 text-gray-900">
    <header class="flex"></header>

    <%= @inner_content %>

    <footer class="flex px-3 pb-6 text-sm justify-center items-center">
      <span class="text-gray-600 tabular mr-3">Oban v<%= Oban.version() %></span>
      <span class="text-gray-600 tabular mr-3">Oban.Web v<%= Oban.Web.version() %></span>
      <span class="text-gray-600 tabular mr-3">Oban.Pro v<%= Oban.Pro.version() %></span>

      <span class="text-gray-800 mr-1">
        <svg fill="currentColor" viewBox="0 0 20 20" class="h-5 w-5"><path fill-rule="evenodd" d="M18 3.315a.251.251 0 00-.073-.177l-1.065-1.065a.25.25 0 00-.353 0l-1.772 1.773a7.766 7.766 0 00-10.89 10.89L2.072 16.51a.251.251 0 000 .352l1.066 1.066a.25.25 0 00.352 0l1.773-1.772a7.766 7.766 0 0010.89-10.891l1.773-1.773A.252.252 0 0018 3.315zM5.474 10c0-1.21.471-2.345 1.326-3.2A4.496 4.496 0 0110 5.474c.867 0 1.697.243 2.413.695l-6.244 6.244A4.495 4.495 0 015.474 10zm9.052 0c0 1.209-.471 2.345-1.326 3.2a4.496 4.496 0 01-3.2 1.326 4.497 4.497 0 01-2.413-.695l6.244-6.244c.452.716.695 1.546.695 2.413z" /></svg>
      </span>

      <span class="text-gray-800 font-semibold">Made by Soren</span>
    </footer>

    <script><%= raw(render("app.js")) %></script>
  </body>
</html>
